[Desktop Entry]
Name=FreeCol
Comment=FreeCol - Open source Colonization clone
Comment[pl]= FreeCol - Klon gry Colonization o otwartych źródłach
Exec=freecol
Terminal=false
Icon=freecol
Type=Application
Categories=Game;StrategyGame;
# vi: encoding=utf-8
